---
import produtos from "../../data/produtos.json";
import "../../styles/admin/excluirProduto.css";
---

<h3 class="excluir-titulo">Lista de Produtos (Excluir)</h3>
<ul class="excluir-lista">
  {produtos.map(p => (
    <li>
      <strong>{p.id} - {p.nome}</strong> ({p.volume})  
      <br />Preço: R${p.price}  
      <br />Categoria: {p.category}  
      <br />Estoque: {p.stock}  
      <br />Descrição: {p.description}
      <br /><button>Excluir</button>
    </li>
  ))}
</ul>