---
import Layout from "../layouts/layout.astro";
import produtos from "../data/produtos.json";
---

<Layout title="Carrinho">
    <main class="carrinho">
        <h2><strong>Meu Carrinho</strong></h2>
        <div
            id="lista-carrinho"
            data-produtos={JSON.stringify(produtos)}>
        </div>

        <section class="resumo">
            <h3>Resumo da Compra</h3>
            <div class="linha-resumo">
                <span>Subtotal</span>
                <span id="subtotal">R$ 0,00</span>
            </div>

            <div class="linha-resumo">
                <span>Frete</span>
                <span>Grátis</span>
            </div>

            <div class="linha-resumo total">
                <span>Total</span>
                <span id="total">R$ 0,00</span>
            </div>
            <button class="btn-finalizar">Finalizar Compra</button>
        </section>

        <section id="sugestoes">

        </section>
    </main>

     <script>
        const lista = document.getElementById("lista-carrinho");
        const sugestoes = document.getElementById("sugestoes");
        const produtos = JSON.parse(lista.dataset.produtos);
        const carrinho = JSON.parse(localStorage.getItem("carrinho")) || [];
        let subtotal = 0;
        let sugestoesHTML = "";
        if (carrinho.length === 0) 
        {
            lista.innerHTML = 
            `
                <div class="carrinho-vazio">
                    <h4> Seu carrinho está vazio!</h4>
                    <p>Que tal explorar nosso catálogo e encontrar seu próximo mangá favorito?</p>
                    <a href="/" class="btn-voltar">Continuar Comprando</a>
                </div>
            `;
        }

        else 
        {
            carrinho.forEach((item) => 
            {
                const produto = produtos.find((produto) => {
                    return produto.id === item.id;
                });
                if (!produto) return;
                subtotal += produto.price * item.quantidade;
                const card = document.createElement("div");
                card.classList.add("card-carrinho");
                card.innerHTML = 
                `
                    <img src="${produto.image}" alt="${produto.name}">
                    <div class="info-produto">
                        <h4>${produto.name}</h4>
                        <p>Volume ${produto.volume}</p>
                        <p>Quantidade: ${item.quantidade}</p>
                        <p>Preço: R$ ${produto.price.toFixed(2)}</p>
                    </div>
                `;
                lista.appendChild(card);
            });
        }

        document.getElementById("subtotal").textContent =  `R$ ${subtotal.toFixed(2)}`;
        document.getElementById("total").textContent = `R$ ${subtotal.toFixed(2)}`;

        produtos
            .filter((produto) => 
            {
                return !carrinho.some((item) => 
                {
                    return item.id === produto.id;
                });
            })
            .slice(0, 4)
            .forEach((produto) => 
            {
                sugestoesHTML += 
                `
                    <div class="card-sugestao">
                        <a href="/produto/${produto.id}">
                            <img src="${produto.image}" alt="${produto.name}">
                        </a>
                        <h4>${produto.name}</h4>
                        <p>Volume ${produto.volume}</p>
                        <p>R$ ${produto.price.toFixed(2)}</p>
                    </div>
                `;
            });
        sugestoes.innerHTML = 
        `
            <h3>Você também pode gostar</h3>
            <div class="lista-sugestoes">
                ${sugestoesHTML}
            </div>
        `;
    </script>
</Layout>