---
import Layout from "./layout.astro";
const { produto } = Astro.props;
---

<Layout title={produto.name}>
  <section class="produto-detalhe">
    <img src={produto.image} alt={produto.name} />
    <h2>{produto.name} Vol. {produto.volume}</h2>
    <p>Preço: R$ {produto.price}</p>
    <button id="btn-carrinho" data-id={produto.id}>Adicionar ao Carrinho</button>

    <div class="descricao">
      <h3>Descrição</h3>
      <p>{produto.description}</p>
    </div>

    <div class="comentarios">
      <h3>Comentários</h3>
      <ul>
        {produto.comments && produto.comments.map((comentario) => (
          <li>{comentario}</li>
        ))}
      </ul>

      <form>
        <textarea placeholder="Escreva seu comentário..."></textarea>
        <button type="submit">Adicionar Comentário</button>
      </form>
    </div>
  </section>

  <script>
    const botao = document.getElementById("btn-carrinho");
    botao.addEventListener("click", () => {
      const idProduto = botao.dataset.id;
      let carrinho = JSON.parse(localStorage.getItem("carrinho")) || [];
      const itemExistente = carrinho.find((item) => 
      {
        return item.id === idProduto;
      });
      if (itemExistente) 
      {
        itemExistente.quantidade++;
      } 
      else 
      {
        carrinho.push({id: idProduto, quantidade: 1});
      }
      localStorage.setItem("carrinho", JSON.stringify(carrinho));
      alert("Produto adicionado ao carrinho!");
    });
  </script>
</Layout>