---
import Layout from "./layout.astro";
const { produto } = Astro.props;
---

<Layout title={produto.name}>
  <section class="produto-detalhe">
    <img src={produto.image} alt={produto.name} />
    <h2>{produto.name} Vol. {produto.volume}</h2>
    <p>Preço: R$ {produto.price}</p>
    <button>Adicionar ao Carrinho</button>

    <div class="descricao">
      <h3>Descrição</h3>
      <p>{produto.description}</p>
    </div>

    <div class="comentarios">
      <h3>Comentários</h3>
      {produto.comments && produto.comments.length > 0 ? (
        <ul>
          {produto.comments.map((comentario) => (
            <li>{comentario}</li>
          ))}
        </ul>
      ) : (
        <p>Este produto ainda não possui comentários.</p>
      )}
    </div>
  </section>
</Layout>